# Name(s)
**BAO NGUYEN And KUSH UPADHYAY**

**Instructions:** This is an individual assignment, but you may discuss your code with your neighbors.

# Python and NumPy

While other IDEs exist for Python development and for data science related activities, one of the most popular environments is Jupyter Notebooks.

This lab is not intended to teach you everything you will use in this course. Instead, it is designed to give you exposure to some critical components from NumPy that we will rely upon routinely.

## Exercise 0
Please read and reference the following as your progress through this course. 

* [What is the Jupyter Notebook?](https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/What%20is%20the%20Jupyter%20Notebook.ipynb#)
* [Notebook Tutorial](https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook)
* [Notebook Basics](https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Notebook%20Basics.ipynb)

**In the space provided below, what are three things that still remain unclear or need further explanation?**

**YOUR ANSWER HERE**

## Exercises 1-7
For the following exercises please read the Python appendix in the Marsland textbook and answer problems A.1-A.7 in the space provided below.

## Exercise 1

In [2]:
import numpy as np
# YOUR SOLUTION HERE
a = np.full((6, 4), 2)
a

array([[2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2]])

## Exercise 2

In [3]:
# YOUR SOLUTION HERE
b = np.eye(6,4) * 2 + np.full((6,4),1)
b

array([[3., 1., 1., 1.],
       [1., 3., 1., 1.],
       [1., 1., 3., 1.],
       [1., 1., 1., 3.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Exercise 3

In [5]:
# YOUR SOLUTION HERE
a*b
print('We can multiply these two matrices A * B because it will multiply row by row and column by column,' 
      'but we cannot do dot(a,b) because the size of row in A must equal to size of column in B and size of column'
      'in A must be equal size of row in B. ')

We can multiply these two matrices A * B because it will multiply row by row and column by column,but we cannot do dot(a,b) because the size of row in A must equal to size of column in B and size of columnin A must be equal size of row in B.

## Exercise 4

# YOUR SOLUTION HERE
Due to the nature of dot function, the result of dot function have the row's size of first arg, 
the column's take the column's size of second arg.

## Exercise 5

In [61]:
# YOUR SOLUTION HERE
print('hello')

hello

## Exercise 6

In [62]:
# YOUR SOLUTION HERE
c = np.random.rand(2,3)
c_sum = c.sum()
c_mean = c.mean()
print(c)
print(c_sum)
print(c_mean)

[[0.63526549 0.36905584 0.45229711]
 [0.59942456 0.35911174 0.57210469]]
2.987259413216271
0.4978765688693785

## Exercise 7

In [63]:
def count_1(input):
    count = 0
    for i in input.flatten():       
        if i == 1:
            count += 1
    return count
        

# YOUR SOLUTION HERE
test = np.array((2,1,2,3,1,21,1,1,1,1,2,3)).reshape(3,2,2)
print(test)
d = np.where(test == 1, 1, 0)
print(d.sum())
print(count_1(test))

[[[ 2  1]
  [ 2  3]]

 [[ 1 21]
  [ 1  1]]

 [[ 1  1]
  [ 2  3]]]
6
6

## Excercises 8-???
While the Marsland book avoids using another popular package called Pandas, we will use it at times throughout this course. Please read and study [10 minutes to Pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html) before proceeding to any of the exercises below.

## Exercise 8
Repeat exercise A.1 from Marsland, but create a Pandas DataFrame instead of a NumPy array.

In [65]:
import pandas as pd
# YOUR SOLUTION HERE
a = pd.DataFrame(a)
a

   0  1  2  3
0  2  2  2  2
1  2  2  2  2
2  2  2  2  2
3  2  2  2  2
4  2  2  2  2
5  2  2  2  2

## Exercise 9
Repeat exercise A.2 using a DataFrame instead.

In [66]:
# YOUR SOLUTION HERE
b = pd.DataFrame(b)
#b.iloc[range(4),range(4)] = 3
b

     0    1    2    3
0  3.0  1.0  1.0  1.0
1  1.0  3.0  1.0  1.0
2  1.0  1.0  3.0  1.0
3  1.0  1.0  1.0  3.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0

## Exercise 10
Repeat exercise A.3 using DataFrames instead.

In [67]:
# YOUR SOLUTION HERE
a*b

     0    1    2    3
0  6.0  2.0  2.0  2.0
1  2.0  6.0  2.0  2.0
2  2.0  2.0  6.0  2.0
3  2.0  2.0  2.0  6.0
4  2.0  2.0  2.0  2.0
5  2.0  2.0  2.0  2.0

## Exercise 11
Repeat exercise A.7 using a dataframe.

In [86]:
# YOUR SOLUTION HERE
b[b==1].count().sum()

20

## Exercises 12-14
Now let's look at a real dataset, and talk about ``.loc``. For this exercise, we will use the popular Titanic dataset from Kaggle. Here is some sample code to read it into a dataframe.

In [ ]:
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)
titanic_df

Notice how we have nice headers and mixed datatypes? That is one of the reasons we might use Pandas. Please refresh your memory by looking at the 10 minutes to Pandas again, but then answer the following.

## Exercise 12
How do you select the ``name`` column without using .iloc?

In [ ]:
## YOUR SOLUTION HERE
titanic_df["name"]

## Exercise 13
After setting the index to ``sex``, how do you select all passengers that are ``female``? And how many female passengers are there?

In [ ]:
## YOUR SOLUTION HERE
titanic_df.set_index('sex',inplace=True)
titanic_df.loc['female']

## Exercise 14
How do you reset the index?

In [ ]:
## YOUR SOLUTION HERE
titanic_df.reset_index